.form-container{
  margin: 15px;
  color: white;
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-container form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 15px;
}

@media screen and (max-width: 715px) {
  .form-container form{
    flex-direction: column;
  }
}
